{% extends "layout.html"%}
{%block body%}
{%load static%}
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('{% static 'images/page-header-bg.jpg'%}')">
        		<div class="container">
        			<h1 class="page-title">About us</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            <div class="page-content pb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="about-text text-center mt-3">
                                <h2 class="title text-center mb-2">Who We Are</h2><!-- End .title text-center mb-2 -->
                                <p>At our Habesha cloth online store, we are a passionate team dedicated to sharing the beauty and cultural significance of Ethiopian fashion. We curate an exquisite collection of authentic garments, carefully selected to showcase the craftsmanship and elegance of Habesha clothing. Working directly with artisans and local suppliers, we support sustainable practices and empower communities. With a commitment to quality and customer satisfaction, we invite you to explore our online store and experience the timeless allure of Ethiopian heritage through our curated selection of garments.</p>
                                <img src="{%static 'images/about/about-2/signature.png'%}" alt="signature" class="mx-auto mb-5">
                                <img src="{%static 'images/about/about-2/img-1.jpg'%}" alt="image" class="mx-auto mb-6">
                            </div><!-- End .about-text -->
                        </div><!-- End .col-lg-10 offset-1 -->
                    </div><!-- End .row -->
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-sm-6">
                            <div class="icon-box icon-box-sm text-center">
                                <span class="icon-box-icon">
                                    <i class="icon-puzzle-piece"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Design Quality</h3><!-- End .icon-box-title -->
                                    <p>Our Habesha cloth online store is renowned for its impeccable design quality. Each garment in our collection is meticulously crafted with attention to detail, ensuring exceptional craftsmanship and authenticity. We collaborate with skilled artisans who employ traditional techniques, resulting in garments that exude elegance and cultural significance. From intricate embroidery to vibrant colors, our designs reflect the rich heritage of Ethiopian textiles. We take pride in offering you the highest standard of design excellence, allowing you to embrace the beauty of Habesha fashion with confidence.</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-lg-4 col-sm-6 -->
                        <div class="col-lg-4 col-sm-6">
                            <div class="icon-box icon-box-sm text-center">
                                <span class="icon-box-icon">
                                    <i class="icon-life-ring"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Professional Support</h3><!-- End .icon-box-title -->
                                    <p>At our Habesha cloth online store, we prioritize providing professional support to enhance your shopping experience. Our dedicated customer support team is here to assist you every step of the way, ensuring that your inquiries are promptly addressed and your needs are met. Whether you have questions about our products, need help with sizing or styling advice, or require assistance with your order, we are committed to delivering exceptional service. We strive to exceed your expectations and make your journey with us seamless and enjoyable. Feel free to reach out to us, and we will be delighted to assist you with any assistance you require.</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-lg-4 col-sm-6 -->
                        <div class="col-lg-4 col-sm-6">
                            <div class="icon-box icon-box-sm text-center">
                                <span class="icon-box-icon">
                                    <i class="icon-heart-o"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Made With Love</h3><!-- End .icon-box-title -->
                                    <p>we take immense pride in the creation of our Habesha clothing collection. Each garment is crafted with love and meticulous attention to detail by skilled artisans who have a deep appreciation for Ethiopian traditions. We source the finest quality materials and employ traditional techniques to ensure that every piece embodies the rich cultural heritage of Ethiopia. With every stitch and every embroidery, we infuse our creations with a passion for preserving the artistry and authenticity of Habesha fashion. Our dedication to quality and craftsmanship shines through in each garment, allowing you to wear our clothing with pride and embrace the spirit of Ethiopian culture.</p> 
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-lg-4 col-sm-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
                <div class="mb-2"></div><!-- End .mb-2 -->
                <div class="bg-light-2 pt-6 pb-7 mb-6">
                    <div class="container">
                            
                       
                        <div class="text-center mt-3">
                            <a href="{%url 'contact'%}" class="btn btn-sm btn-minwidth-lg btn-outline-primary-2">
                                <span>LETS START WORK</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div><!-- End .text-center -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-6 pb-6 -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

{%endblock%}