
        {% extends "layout.html"%}
        {%block body%}
        {%load static%}
        <main class="main">

            <div class="container top">
                <div class="heading heading-flex mb-3">
                    <div class="heading-left">
                        <h2 class="title" style="margin-top: 20px;">Top Selling Products</h2><!-- End .title -->
                    </div><!-- End .heading-left -->


                </div><!-- End .heading -->

                <div class="tab-content tab-content-carousel just-action-icons-sm">
                    <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel"
                        aria-labelledby="top-all-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                            data-owl-options='{
                                "nav": true, 
                                "dots": false,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                            {%for product in products%}
                            <div class="product product-2">
                                <figure class="product-media">
                                    <a href="{%url 'product' product.id %}">
                                        <img src="{{product.image.url}}"
                                            alt="Product image" class="product-image">
                                    </a>
                                    <div class="product-action product-action-dark">
                                        {% if product.quantity <= 0 %}
                                        <h class="text-danger">product out of stock</h>
                                        {%else%}
                                        <a href="{%url 'add_cart' product.id%}" class="btn-product btn-cart" title="Add to cart"><span>add to
                                                cart</span></a>
                                        {%endif%}
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->
                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">{{product.catagory}}</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="{%url 'product' product.id %}">{{product.name}}" Display, i5</a>
                                    </h3><!-- End .product-title -->
                                    <div class="product-price">
                                        {{product.price|floatformat:2}}
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->  
                            {%endfor%}
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .container -->

            <div class="container">
                <hr class="mt-5 mb-0">
            </div><!-- End .container -->
        </main><!-- End .main -->
        {%endblock%}
       