<!DOCTYPE html>
<html lang="en">
{%load static%}
<!-- molla/index-3.html  22 Nov 2019 09:55:42 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ETIEL-Online Habesha cloth shoping store</title>
    <meta name="Habesha cloth" content="Habesha cloth shoping store">
    <meta name="description" content="Molla - Online Habesha cloth shoping store">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'images/icons/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'images/icons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'images/icons/favicon-16x16.png'%}">
    <link rel="manifest" href="{%static 'images/icons/site.html'%}">
    <link rel="mask-icon" href="{%static 'images/icons/safari-pinned-tab.svg'%}" color="#666666">
    <link rel="shortcut icon" href="{%static 'images/icons/favicon.ico'%}">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{%static 'images/icons/browserconfig.xml'%}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{%static 'vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css'%}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/plugins/owl-carousel/owl.carousel.css'%}">
    <link rel="stylesheet" href="{%static 'css/plugins/magnific-popup/magnific-popup.css'%}">
    <link rel="stylesheet" href="{%static 'css/plugins/jquery.countdown.css'%}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/skins/skin-demo-3.css'%}">
    <link rel="stylesheet" href="{%static 'css/demos/demo-3.css'%}">
</head>
<body>
    <div class="page-wrapper">
<header class="header header-intro-clearance header-3">

    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="{%url 'home'%}" class="logo">
                    <img src="{%static 'images/etiel.svg'%}" alt="Molla Logo" width="160" height="60">
                </a>
            </div><!-- End .header-left -->

            <div class="header-center">
                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="{% url 'search' %}" method="GET">
                        {% csrf_token %}
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">Search</label>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            <input type="search" class="form-control" name="query" id="q"
                                placeholder="Search product ..." required>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
            </div>

            <div class="header-right">
                <div class="wishlist">
                    {% if request.user.is_authenticated %}
                    <a href="{%url 'myAccount'%}" title="account">
                        <div class="icon">
                            <i class="icon-user"></i>
                        </div>
                        <p>Account</p>
                    </a>
                    {% else %}
                    <a href="{%url 'login'%}" title="signin">
                        <div class="icon">
                            <i class="icon-user"></i>
                        </div>
                        <p>sign in</p>
                    </a>
                    {% endif %}
                </div><!-- End .dropdown -->

                <div class="dropdown cart-dropdown">
                    <a href="{%url 'cart'%}" class="dropdown-toggle" >
                        <div class="icon">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count">{{total_item}}</span>
                        </div>
                        <p>Cart</p>
                    </a>
                </div><!-- End .cart-dropdown -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->

    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                
                <div class="dropdown category-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" data-display="static"
                        title="Browse Categories">
                        Browse Categories <i class="icon-angle-down"></i>
                    </a>
                    
                    <div class="dropdown-menu">
                        <nav class="side-nav">
                            <ul class="menu-vertical sf-arrows">
                                {%for cata in catagory%}
                                <li><a href="{%url 'shop' cata.id %}">{{cata.name}} </a></li>
                                {%endfor%}
                            </ul><!-- End .menu-vertical -->

                        </nav><!-- End .side-nav -->
                    </div><!-- End .dropdown-menu -->
                    
                </div><!-- End .category-dropdown -->
            </div><!-- End .header-left -->

            <div class="header-center">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li {% if "/home" in request.path %} class="megamenu-container active" {%endif%}>
                            <a href="{% url 'home'%}" class="Home">Home</a>
                        </li>
                        <li {% if "/about" in request.path %} class="megamenu-container active" {%endif%}>
                            <a href="{% url 'about'%}" class="About">About</a>
                        </li>
                        <li {% if "/contact" in request.path %} class="megamenu-container active" {%endif%}>
                            <a href="{% url 'contact'%}" class="contact us">contact us</a>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-center -->

            <div class="header-right">
                <i class="la la-lightbulb-o"></i>
                <p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
            </div>
        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header><!-- End .header -->
{%block body%}
{%endblock%}
<footer class="footer">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <img src="{%static 'images/etiel_foot.svg'%}" class="footer-logo"
                            alt="Footer Logo" width="120" height="35">
                        <p>Discover the Timeless Elegance of Ethiopian Habesha Clothing, Just a Click Away! </p>

                        <div class="widget-call">
                            <i class="icon-phone"></i>
                            Got Question? Call us 24/7
                            <a href="tel:+251983909056">+251983909056</a>
                        </div><!-- End .widget-call -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="{% url 'about'%}">About us</a></li>
                            <li><a style="pointer-events: none; " href="#">How to shop on Molla</a></li>
                            <li><a style="pointer-events: none; " href="faq.html">FAQ</a></li>
                            <li><a href="{% url 'contact'%}">Contact us</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
                        <ul class="widget-list">
                            <li><a style="pointer-events: none; " href="#">Payment Methods</a></li>
                            <li><a style="pointer-events: none; " href="#">Shipping</a></li>
                            <li><a style="pointer-events: none; " href="#">Terms and conditions</a></li>
                            <li><a style="pointer-events: none; " href="#">Privacy Policy</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'myAccount'%}">Account</a></li>
                            {% else %}
                           <li><a href="{% url 'login'%}">Sign In</a></li>
                            {% endif %}
                            <li><a href="{% url 'cart'%}">View Cart</a></li>
                            <li><a style="pointer-events: none; "  href="#">Help</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2023 Molla Store. All Rights Reserved.</p>
            <!-- End .footer-copyright -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="{% url 'search' %}" method="GET" class="mobile-search">
            {% csrf_token %}
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="query" id="mobile-search" placeholder="Search in..." required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>
        
        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li  {% if "home" in  request.path%} class="megamenu-container active" {% endif%}>
                    <a href="{% url 'home'%}" class="">Home</a>
                </li>
                {% if request.user.is_authenticated %}
                <li  {% if "myAccount" in request.path%} class="megamenu-container active" {% endif%}>
                    <a href="{%url 'myAccount'%}">Account</a>
                </li>
               
                {% else %}
                <li  {% if "login" in request.path%} class="megamenu-container active" {% endif%}>
                    <a href="{% url 'login'%}" class="">Log in</a>
                </li>
                {% endif %}
         
                <li  {% if "about" in request.path%} class="megamenu-container active" {% endif%}>
                    <a href="{% url 'about'%}" class="">About</a>
                </li>
                <li  {% if "contact" in request.path%} class="megamenu-container active" {% endif%}>
                    <a href="{% url 'contact'%}" class="">Contact</a>
                </li>
            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a style="pointer-events: none;" href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a style="pointer-events: none;" href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a style="pointer-events: none;" href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a style="pointer-events: none;" href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container --><!-- End .mobile-menu-container -->

<!-- Plugins JS File -->
<script src="{%static 'js/jquery.min.js'%}"></script>
<script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
<script src="{%static 'js/jquery.hoverIntent.min.js'%}"></script>
<script src="{%static 'js/jquery.waypoints.min.js'%}"></script>
<script src="{%static 'js/superfish.min.js'%}"></script>
<script src="{%static 'js/owl.carousel.min.js'%}"></script>
<script src="{%static 'js/bootstrap-input-spinner.js'%}"></script>
<script src="{%static 'js/jquery.plugin.min.js'%}"></script>
<script src="{%static 'js/jquery.magnific-popup.min.js'%}"></script>
<script src="{%static 'js/jquery.countdown.min.js'%}"></script>
<!-- Main JS File -->
<script src="{%static 'js/main.js'%}"></script>
<script src="{%static 'js/demos/demo-3.js'%}"></script>
</body>
</html>