{% extends "layout.html"%}
{%block body%}
{%load static%}
        <main class="main">

            <div class="page-content" style="margin-top: 20px;">
                <div class="container">
                    <div class="product-details-top mb-2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom" src="{{product.image.url}}" data-zoom-image="{{product.image.url}}" alt="product image">

                                        </figure><!-- End .product-main-image -->

                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details product-details-centered">
                                    <h1 class="product-title">{{product.name}}</h1><!-- End .product-title -->


                                    <div class="product-price">
                                        {{product.price}}
                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        <p>{{product.description}}</p>
                                    </div><!-- End .product-content -->

                                    <div class="product-details-action">
                                        <div class="details-action-col">
                                            <!-- <div class="product-details-quantity">
                                                <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                            </div>End .product-details-quantity -->
                                            {% if product.quantity <= 0 %}
                                            <h class="text-danger">product out of stock</h>
                                            {%else%}
                                            <a href="{%url 'add_cart' product.id%}" class="btn-product btn-cart"><span>add to cart</span></a>
                                            {%endif%}
                                        </div><!-- End .details-action-col -->

                                    </div><!-- End .product-details-action -->

                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
{%endblock%}