{% extends "layout.html"%}
{%block body%}
{%load static%}
        <main class="main">
            <div class="page-header text-center" style="background-image: url('{% static 'images/page-header-bg.jpg'%}')">
                <div class="container-fluid">
                    <h1 class="page-title">Fullwidth No Sidebar</h1>
                </div><!-- End .container-fluid -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container-fluid">
                </div><!-- End .container-fluid -->
            </nav><!-- End .breadcrumb-nav -->
            <div class="page-content">
                <div class="container-fluid">

                    <div class="products">
                        <div class="row">

                            <div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                                <div class="product">
                                    <figure class="product-media">
                                        <span class="product-label label-new">New</span>
                                        <a href="product.html">
                                            <img src="{%static 'images/products/product-1.jpg'%}" alt="Product image"
                                                class="product-image">
                                        </a>
                                        <div class="product-action action-icon-top">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Women</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Nunc dignissim risus</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            $50.00
                                        </div><!-- End .product-price -->

                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                        </div><!-- End .row -->

                    </div><!-- End .products -->

                    <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
                </div><!-- End .container-fluid -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
{%endblock%}
        
        