{% extends "layout.html"%}
{%block body%}
{%load static%}
        <main class="main">
            <div class="page-header text-center" style="background-image: url('{% static 'images/page-header-bg.jpg'%}')">
                <div class="container-fluid">
                    {%if catagory_name %}
                    <h1 class="page-title">{{catagory_name}} Habesha Cloth</h1>
                    {%else%}
                    <h1 class="page-title">Search result for {{query}}</h1>
                    {%endif%}
                </div><!-- End .container-fluid -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container-fluid">
                </div><!-- End .container-fluid -->
            </nav><!-- End .breadcrumb-nav -->
            {%if not catagorized_product%}
            <h2 class="text-center">No product</h2>
						<div class="text-center">
							<a class="btn btn-outline-primary-2" href="{%url 'home'%}">countinue shoping</a>
						</div>
            {%else%}
            <div class="page-content">
                <div class="container-fluid">
                    <div class="products">
                        <div class="row">
                            {%for prod in catagorized_product%}
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                               
                                <div class="product">
                                    <figure class="product-media">
                                        <!-- <span class="product-label label-new">New</span> -->
                                        <a href="{%url 'product' prod.id %}">
                                            <img src="{{prod.image.url}}" alt="Product image"
                                                class="product-image">
                                        </a>
                                        <div class="product-action action-icon-top">
                                            {% if prod.quantity <= 0 %}
                                            <h class="text-danger text-center">product out of stock</h>
                                            {%else%}
                                            <a href="{%url 'add_cart' prod.id%}" class="btn-product btn-cart"><span>add to cart</span></a>
                                            {%endif%}
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{prod.catagory}}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="{%url 'product' prod.id %}">{{prod.name}}</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            {{prod.price}}
                                        </div><!-- End .product-price -->

                                    </div><!-- End .product-body -->
                                    
                                </div><!-- End .product -->
                            
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                            {%endfor%}
                        </div><!-- End .row -->
                    </div><!-- End .products -->
                    <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
                </div><!-- End .container-fluid -->
            </div><!-- End .page-content -->
            {%endif%}
        </main><!-- End .main -->
{%endblock%}
        
        